* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: blueviolet;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column nowrap;


}     


section {
    background-color: #fff;
    width: 280px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column nowrap;
    gap: 20px;
    border-radius: 20px;padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 h1{
    text-align: center;
 }
 button{
    width: 70px;
    height: 30px;
   
 }
 